h1{
    font-size: 30px;
    text-align: center;
}

.sidecontainer{
    margin:25px;
    height: 100%;
    width: 250px;
   

}
.h4{

  /* middle of searh form */    

    
}

.main-container{
border-radius: 20px;
border-color: black;

}