:root {
  --border: black;
}
* {
  box-sizing: border-box;
}
h1{
    font-size: 30px;
    text-align: center;
    text-shadow: cyan;
}

.sidecontainer{
    margin:25px;
    height: 100%;
    width: 250px;
   

}
